In [1]:
list = []

for i in range (1, 11):
    list.append(i**2)

In [2]:
list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
"""
Comprecion de listas se le pone un expresion a realizar seguida de un ciclo for

"""
list2 =[]
list2= [i**2 for i in range(1,11)]

In [4]:
list2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
"""
Comprecion de listas se le pone un expresion a realizar seguida de un ciclo for
con una condicion
"""
list2 =[]
list2= [i**2 for i in range(1,11) if i> 5]

In [6]:
list2

[36, 49, 64, 81, 100]

In [7]:
"""
Compreción con diccionarios
"""
list3 = {"clave " + str(i): i**2 for i in range(1,11)}

In [8]:
list3

{'clave 1': 1,
 'clave 2': 4,
 'clave 3': 9,
 'clave 4': 16,
 'clave 5': 25,
 'clave 6': 36,
 'clave 7': 49,
 'clave 8': 64,
 'clave 9': 81,
 'clave 10': 100}

In [9]:
"""
Compreción con diccionarios agrgando condición
"""
list3 = {"clave " + str(i): i**2 for i in range(1,11) if i>2}

In [10]:
list3

{'clave 3': 9,
 'clave 4': 16,
 'clave 5': 25,
 'clave 6': 36,
 'clave 7': 49,
 'clave 8': 64,
 'clave 9': 81,
 'clave 10': 100}

In [11]:
"""
Compreción con conjuntos
"""
conjunto = {i**2 for i in range(1,11)}

In [12]:
conjunto

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [13]:
"""
Compreción con conjuntos con condición
"""
conjunto = {i**2 for i in range(1,11) if i<4}

In [14]:
conjunto

{1, 4, 9}

In [16]:
import re
mensaje = 'Hola, me gusta estudiar Python'

re.sub('\w{4},', 'Buenos días', mensaje)

'Buenos días me gusta estudiar Python'

In [21]:
string = 'Hoy hemos comido 10 personas un menú de 12 euros. y 2 niños 2 bocadillos de 4 euros. En total pagamos 128 euros.'
re.findall('\d+', string)

['10', '12', '2', '2', '4', '128']

In [22]:
try:

    'Hola'+ 5

except ValueError:

    print('Error 1')

except TypeError:

    print('Error 2')

except:

    print('Error 3')

Error 2

In [25]:
lista =[]
lista = list(range(1,10)) [x / 2 for x in lista if x * 4 < 15]

SyntaxError: invalid syntax (1501429247.py, line 2)